<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
  
  <insert id="insertMember" parameterType="member"> <!-- 회원 추가 -->
    INSERT INTO
    members(id, passwd, name)
    VALUES(#{id}, #{passwd}, #{name})
  </insert>
  
  <select id="selectMemberById" resultType="int" parameterType="String"> <!-- 회원가입시 아이디 확인 -->
    SELECT COUNT(*)
    FROM members
    WHERE id = #{id}
  </select>
  
  <select id="selectMember" resultType="member" parameterType="member">
    SELECT *
    FROM members
    WHERE id = #{id}
    AND passwd = #{passwd}
  </select>
</mapper>